.el-color-predefine__colors {
    justify-content: center;
    .el-color-predefine__color-selector {
        margin-left: 15px;
        &:nth-child(10n + 1) {
            margin-left: 15px;
        }
        &:nth-child(8n + 1) {
            margin-left: 0;
        }
    }
    .selected {
        box-shadow: 0 0 3px 2px var(--theme-color);
    }
}

.el-button {
    border-radius: 8px;
    height: 40px;
    background-color: var(--theme-color);
    border-color: var(--theme-color);
    color: #fff;
}

// .el-button:hover {
//     border-color: var(--theme-color);
//     color: var(--theme-color);
//     background-color: unset;
// }
.el-button:hover {
    background-color: var(--theme-color-hover);
    border-color: var(--theme-color-hover);
    color: #fff;
}

// .el-button:active,
// .el-button:focus {
//     border-color: var(--theme-color);
//     color: var(--theme-color);
//     background-color: var(--theme-color-active);
// }
.el-button:active,
.el-button:focus {
    background-color: var(--theme-color);
    border-color: var(--theme-color);
    color: #fff;
}

.el-input {
    height: 40px;
}

.el-input__wrapper.is-focus {
    box-shadow: 0 0 0 1px var(--theme-color) inset;
}

.el-select__wrapper.is-focused {
    box-shadow: 0 0 0 1px var(--theme-color) inset;
}

.el-dialog {
    border-radius: 12px;
    .el-dialog__headerbtn:hover {
        .el-dialog__close {
            color: var(--theme-color);
        }
    }
}
