html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// 当窗口大小变化时，font-size的计算值也会变（但是vw的值不变）
// 最终，1rem会对应上 设计稿里的100px
html {
    font-size: 100px;

    // 尺寸为375时，100px对应的vw，作为根节点的font-size
    @media screen and (max-width: $phone-max-width) {
        font-size: calc(100 / 375) * 100vw;
    }

    // 同理
    @media screen and (max-width: $pc-max-width) {
        font-size: calc(100 / 1024) * 100vw;
    }
}

body {
    font-size: px2rem(20);
    font-family: PingFang SC, Source Han Sans CN, Microsoft YaHei, system, -apple-system,
        BlinkMacSystemFont, Helvetica Neue, Helvetica, Segoe UI, wenquanyi micro hei,
        Hiragino Sans GB, Hiragino Sans GB W3, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
        Droid Sans, sans-serif;
    --box-shadow: 0 0 24px rgba(81, 87, 103, 0.16);
    --font-3: #8a919f;
    --gray-1: rgba(228, 230, 235, 0.5);
    --layer-1: #fff;
    --layer-2: #f7f8fa;
    --font-hover-1: #2e2e2ebd;
    --background: #f2f3f5;
}

#app {
    height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;
}