// 移动端
$phone-max-width: 768px;

$pc-max-width: 1024px;

html {
    font-size: 100px;

    // 尺寸为375时，100px对应的vw，作为根节点的font-size
    @media screen and (max-width: $phone-max-width) {
        font-size: calc(100 / 375) * 100vw;
    }

    // 同理
    @media screen and (max-width: $pc-max-width) {
        font-size: calc(100 / 1024) * 100vw;
    }
}

// 当窗口大小变化时，font-size的计算值也会变（但是vw的值不变）
// 最终，1rem会对应上 设计稿里的100px

// px转rem
@function px2rem($px) {
    @return calc(#{$px} / 100 * 1rem);
}
